nav {
    background-color:#0097A7;
}
.occupy-total-height {
    height:100% !important;
}
.slides {
    height:100% !important;
}
.collapsible-header {
  background-color:#0097a7!important;
  color:white!important;
}
